body {
  font-size: 12pt;
  color: #333;
}

.infoBar {
  width: 100%;
  background-color: #ccc;
  border 1px solid black;
  height: 142px;
  float: left;
}
.infoBar > .infoLogo { 
  width: 120px;
  position: relative;
  left: 6px;
  top 6px;
  clear: both;
  float: left;

}
.infoLogo > img { 
  height: 10em
}
.infoBar > .infoText {
  margin-left: 14em;
  clear: both;
  float: left;
}

#blog-post img {
	max-width: 100%;
}

.blog_index .post_title {
  font-weight: bold;
  font-size: 16pt;
}

.blog_index {
  padding-bottom: 6pt;
}


.post-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next-post {
  align-self: flex-end;
}

.previous-post {
  align-self: flex-start;
}


figcaption {
  font-size: 12pt;
  color: #777;
  padding-bottom: 12pt;
  margin-top: -4pt;
}
